/.project
/.vscode
/archives
/db
/img
/misc
/reddog
/release
/sqlite3-aes128
/src
/starpack-example
/sqlitefunc-userfunc
/sqlitefunc
/SQLiteNativeFunction.xlsx
/production.sqlite3
/test.db
/*.url
/tksqlite.png
*.log
tksqlite.exe
tksqlite.backup.exe
